.div-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tr {
    padding: 10px;
    display: flex;
    align-items: center;
}

.custom-padding {
    padding-right: 20px !important;
}

td {
    padding-right: 50px;
    display: flex;
    justify-content: end;
}

.left-tr {
    width: 300px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 10rem;
    height: 3rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 12px;
}